.carauser_type__container {
  @apply bg-white
    py-3
    px-10
    2xl:px-20;
}

.content_type {
  @apply relative
      flex;
}

.control_is_inactive {
  &.carauser_type__container::before {
    background: transparent;
  }
}

.control {
  background: none !important;
  border: none !important;
  opacity: 1 !important;
  box-shadow: none !important;
  &:nth-child(1) {
    @apply 2xl:pl-5 -ml-5;
  }

  &:nth-child(2) {
    @apply 2xl:pr-5 -mr-5;
  }
  &[data-inactive] {
    opacity: 0;
    width: 1px;
    height: 1px;
    cursor: default;
    opacity: 0 !important;
  }

  &[data-inactive],
  &[data-inactive]:hover {
    opacity: 0 !important;
    cursor: default;
  }
}

.carauser_type__category {
  @apply flex
    flex-col
    py-1
    mx-5
    items-center
    cursor-pointer;
  span {
    @apply text-[12px]
      font-semibold
      text-[#6A6A6A];
  }
  &:hover span {
    @apply text-black;
  }
  img {
    @apply opacity-70;
  }
  &:hover img {
    @apply opacity-100;
  }
}

.carauser_type__indicator {
  @apply grid
    items-center
    h-[3rem]
    w-[10vh]
    -mt-3;
}

.carause_type__icon {
  @apply opacity-100
    border-[1px]
    bg-white
    rounded-full
    p-1
    hover:shadow-sm
    hover:scale-105;
}

.carause_type__right {
  @apply carauser_type__indicator justify-end mr-10;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 32%,
    rgba(255, 255, 255, 0.7287289915966386) 70%,
    rgba(0, 212, 255, 0) 100%,
    rgba(255, 255, 255, 0.6138830532212884) 100%
  );
}

.carause_type__left {
  @apply carauser_type__indicator justify-start ml-10;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 32%,
    rgba(255, 255, 255, 0.7287289915966386) 70%,
    rgba(0, 212, 255, 0) 100%,
    rgba(255, 255, 255, 0.6138830532212884) 100%
  );
}

.carause_type__active {
  img {
    @apply opacity-100;
  }
  span {
    @apply text-black border-b-2 border-black;
  }
}


.content_type_filter {
  @apply
    bg-white
    w-[100%]
    flex
    justify-evenly
    pr-5
    items-center
  ;
}

.content_type_filter__button__filters {
  @apply
    border-[#ebebeb]
    border-[1px]
    py-3
    flex
    gap-3
    font-bold
    px-4
    text-[12px]
    rounded-lg
    hover:border-black
  ;
}

.content_type_filter__button__taxes {
  @apply
    content_type_filter__button__filters
  ;
}