.carauser_type__container {
  @apply
    bg-white
    py-5
    px-5
  ;

  &:before {
    content: "";
    @apply
      bg-white
      absolute
      top-0
      left-0
      h-[100%]
      w-[150px]
      z-[1]
      ;

      background: linear-gradient(90deg, rgba(255,255,255,1) 22%, rgba(255,255,255,0) 100%);
  }

  &:after {
    content: "";
    @apply
      bg-white
      absolute
      top-0
      right-0
      h-[100%]
      w-[150px]
    ;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 78%);
  }

}

.control_is_inactive {
  &.carauser_type__container::before {
    background: transparent;
  }
}

.control {
  z-index: 1;

  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }

  &[data-inactive],
  &[data-inactive]:hover {
    opacity: 0;
    cursor: default;
  }
}
