.search {
  @apply
    grid
    place-items-center
    transition 
    ease-in-out 
    duration-500
  ;
}


.search_tab {
  @apply
    flex
    mb-4
  ;
}

.search_tab_option {
  @apply
    px-5
    py-3
    cursor-pointer
    hover:bg-gray-100
    hover:rounded-full
  ;
}

.search_input {
  @apply
    border-[1px]
    rounded-full
    relative
    shadow-md
    flex
  ;
}

.search_input_button {
  @apply
    px-8
    py-3
    cursor-pointer
    flex
    flex-col
    hover:bg-gray-100
    hover:rounded-full
  ;

  &:hover input {
    @apply
    bg-gray-100
    ;
  }

  label {
    @apply
      text-[12px]
    ;
  }

  input {
    @apply
      text-[14px]
      focus:outline-none
    ;
  }
}


/* search-input-destination.tsx */
.search_input_destination__container {
  @apply
    p-5
    rounded-2xl
    shadow-md
  ;
}

.search_input_destination__label {
  @apply
    text-base
    font-bold
    text-gray-700
    -ml-3
  ;
}

.search_input_destination__card {
  @apply
    border-none
    w-[max-content]
    p-3
    rounded-md
    hover:bg-gray-100
  ;

  img {
    @apply
      border-[1px]
      rounded-md
    ;
  }

  span {
    @apply
      text-base
      capitalize
    ;
  }
}

.search_input_destination__close {
  @apply
    grid
    place-items-center
    h-[100%]
    px-5
    py-3
  ;
}

.search_input_destination__region {
  @apply
    gap-5
    w-96
    grid
    grid-cols-3
  ;
}


/* search-input-date.tsx */
.search_input_button__date__container {
  @apply
    w-[max-content]
    flex
  ;
}

.search_input_button__date {
  @apply
    w-36
    px-8
    py-3
    cursor-pointer
    flex
    flex-col
    hover:bg-gray-100
    hover:rounded-full
  ;

  &:hover input {
    @apply
    bg-gray-100
    ;
  }
  label {
    @apply
      text-[12px]
    ;
  }

  input {
    @apply
      w-20
      text-[14px]
      focus:outline-none
    ;
  }
}

/* search-input-guest.tsx */
.search_input_guest__container {
  @apply
    flex
    items-center
    relative
  ;
}

.search_input_guest__button {
  @apply
    px-8
    py-3
    cursor-pointer
    flex
    flex-col
    hover:bg-gray-100
    hover:rounded-full
  ;

  &:hover input {
    @apply
    bg-gray-100
    ;
  }

  label {
    @apply
      text-[12px]
    ;
  }

  input {
    @apply
      text-[14px]
      focus:outline-none
    ;
  }
}

.search_input_guest__icon__container {
  @apply
    absolute
    right-2
    top-[50%]
    translate-y-[-50%]
    p-5
    bg-[#ff385c]
    rounded-full
  ;
}

.search_input_guest__icon {
  display: block; 
  fill: white; 
  height: 16px; 
  width: 16px; 
  stroke: white; 
  stroke-width: 4; 
  overflow: visible;
}